* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url('https://img.freepik.com/free-photo/abstract-smooth-empty-grey-studio-well-use-as-background-business-report-digital-website-template-backdrop_1258-55967.jpg?w=1060&t=st=1677970219~exp=1677970819~hmac=242330213ca3ff0b77b879553121abc6a8eaf1e7a3536fe27f34e472e48ffe55');
}

button {
  cursor: pointer;
}